<div class="d-flex">
  <app-sidebar [toggled]="toggled"></app-sidebar>

  <div class="page-content-wrapper">
    <!-- <button (click)="toggleSideBar()" class="btn btn-link toggle-achor" [ngClass]="{toggled}"><i class="bi" [ngClass]="{'bi-list':toggled ,'bi-x-circle':!toggled}"></i></button> -->
    <nav class="navbar navbar-expand navbar-dark bg-dark" aria-label="Second navbar example">
      <div class="container-fluid">
        <button (click)="toggleSideBar()" class="btn btn-link toggle-achor navbar-brand" [ngClass]="{toggled}"><i
            class="bi" [ngClass]="{'bi-list':toggled ,'bi-x-circle':!toggled}"></i></button>
        <!-- <a class="navbar-brand" href="#">Always expand</a> -->
        <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button> -->

        <div class="collapse navbar-collapse" id="navbarsExample02">
          <ul class="navbar-nav me-auto">
           
          </ul>
          <form>
            <input class="form-control" type="text" placeholder="Search" aria-label="Search">
          </form>
        </div>
      </div>
    </nav>
    <div class="d-flex cards">
      <div class="card">
        <div class="card-body d-flex">
          <div class="item-details">
            <h5 class="card-title">4578</h5>
            <p class="card-text">Amount Due.</p>
          </div>
          <div class="flex red item-icon item-center">
            <i class="bi bi-currency-dollar"></i>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body d-flex">
          <div class="item-details">
            <h5 class="card-title">78</h5>
            <p class="card-text">Customers.</p>
          </div>
          <div class="flex blue item-icon item-center">
            <i class="bi bi-person"></i>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body d-flex">
          <div class="item-details">
            <h5 class="card-title">879</h5>
            <p class="card-text">Invoices.</p>
          </div>
          <div class="flex blue item-icon item-center">
            <i class="bi bi-file-earmark-spreadsheet"></i>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body d-flex">
          <div class="item-details">
            <h5 class="card-title">85</h5>
            <p class="card-text">Estimates.</p>
          </div>
          <div class="flex blue item-icon item-center">
           <i class="bi bi-file-earmark-excel"></i>
          </div>
        </div>
      </div>
    </div>
    <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions" style="width: 100%; display: block;">
    </highcharts-chart>
    <router-outlet></router-outlet>
  </div>
</div>