<div class="app-side-bar" [class.toggled]="toggled">
    <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark sidebar-inner" style="width: 280px;">
        <div class="brand-name">
            <div class="brand">
                <i class="bi bi-apple b-icon"></i>
                <span class="fs-4">Craft App</span>
            </div>
            <div class="sidebar-anchor" #sidebarAnchor>
                <i class="sidebar-anchor-icon bi" [ngClass]="{'bi-list':toggled ,'bi-x-circle':!toggled}" (click)="toggleSideBar()"></i>
            </div>
        </div>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item" *ngFor="let route of routeList">
                <a [routerLink]="[route.route]" class="nav-link text-white"  routerLinkActive="active" aria-current="page">
                    <i class="bi bi-house" [ngClass]="route.cssClass"></i>
                    {{route.displayName}}
                </a>
            </li>
        </ul>
        <!-- <hr> -->

    </div>
</div>