<div class="app-side-bar" [class.toggled]="toggled">
    <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark sidebar-inner" style="width: 280px;">
        <div class="brand-name">
            <div class="brand">
                <i class="bi bi-apple b-icon"></i>
                <span class="fs-4">Craft App</span>
            </div>
            <div class="sidebar-anchor">
                <i class="bi" [ngClass]="{'bi-list':toggled ,'bi-x-circle':!toggled}" (click)="toggleSideBar()"></i>
            </div>
        </div>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a [routerLink]="['/admin/dashboard']" class="nav-link text-white"  routerLinkActive="active" aria-current="page">
                    <i class="bi bi-house"></i>
                    Dashboard
                </a>
            </li>
            <li>
                <a class="nav-link text-white" [routerLink]="['/admin/items']">
                    <i class="bi bi-grid"></i>
                    Items
                </a>
            </li>
            <li>
                <a class="nav-link text-white" [routerLink]="['/admin/invoices']">
                    <i class="bi bi-file-earmark-spreadsheet"></i>
                    Invoice
                </a>
            </li>

            <li>
                <a [routerLink]="['/admin/customers']" class="nav-link text-white" routerLinkActive="active">
                    <i class="bi bi-person-circle"></i>
                    Customers
                </a>
            </li>
        </ul>
        <!-- <hr> -->

    </div>
</div>