<div class="page-content">
    <div class="action">
        <button class="btn btn-dark" (click)="toggleFloating()">
           Filter 
           <i class="bi bi-filter" *ngIf="(!floatingFilter);else tag "></i>
           <ng-template #tag> 
            <i  class="bi bi-x"></i>
           </ng-template>
        </button>
        <button class="btn btn-dark" (click)="add()">
            <i class="bi bi-plus-lg"></i> New Customer
        </button>
    </div>
    <ag-grid-angular style="width: 100%; height: 300px;" class="ag-theme-alpine" [rowData]="rowData" [gridOptions]="gridOptions"
        (gridReady)="onGridReady($event)">
    </ag-grid-angular>
</div>