/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "~ngx-bootstrap/datepicker/bs-datepicker";
@import "ag-grid-community/dist/styles/ag-grid.css";
@import "ag-grid-community/dist/styles/ag-theme-alpine.css";
@import "~@ng-select/ng-select/themes/default.theme.css";
.page-content-wrapper {
    width: 100%;
}

.toggle-achor {
    font-size: 2rem;
}

.sidebar{
    position: fixed;
    z-index: 500;
}
.page-content{
    padding:20px;
}
.ag-selection-checkbox.ag-invisible{
    display:none !important;
}
